Read in all data from StackExchange query.

In [1]:
import pandas as pd
user_data = 'Final Project/user_dataset_3.csv'
answer_data = 'Final Project/Answer_Dataset.csv'
users = pd.read_csv(user_data)
answers = pd.read_csv(answer_data)

dataset = pd.DataFrame(columns = ['reputation', 'answers'])

Create Final Dataframe

In [37]:
for i in range(users.shape[0]):
    idfilter = answers['owneruserid'].isin([users.iloc[i,0]])
    users_answers = answers[idfilter]
    answers_list = []
    for j in range(users_answers.shape[0]):
        single_answer = [users_answers.iloc[j, 1], users_answers.iloc[j, 2], len(users_answers.iloc[j,4])]
        answers_list.append(single_answer)
    if len(answers_list) > 0:
        dataset=dataset.append({'reputation': users.iloc[i,1], 'answers': answers_list}, ignore_index = True)

In [38]:
display(dataset)

     reputation                                            answers
0          6766  [[11, 1, 139], [25, 3, 336], [84, 3, 252], [54...
1          6766  [[11, 1, 139], [25, 3, 336], [84, 3, 252], [54...
2          6766  [[11, 1, 139], [25, 3, 336], [84, 3, 252], [54...
3         56603                                     [[15, 3, 818]]
4        499896                       [[32, 0, 305], [78, 4, 643]]
...         ...                                                ...
7368       6762                                     [[11, 2, 421]]
7369       3213                                     [[288, 4, 88]]
7370       7228                                     [[15, 0, 852]]
7371       2010                       [[11, 0, 343], [17, 1, 811]]
7372       7831       [[53, 14, 445], [15, 4, 694], [11, 0, 1725]]

[7373 rows x 2 columns]

In [43]:
dataset.to_csv('combined_dataset.csv', index=False);